@model Meliasoft.Models.ChangePasswordViewModel
@{
    Layout = null;
    ViewBag.Title = "ChangePassword";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Đổi mật khẩu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no;user-scalable=0;" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        .account-wall {
            max-width: 350px;
            width: 90%;
            *width: 350px;
            margin: 20px auto;
            padding: 40px 0 20px 0;
            background-color: #f7f7f7;
            -moz-box-shadow: 0 2px 2px #000000;
            -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0 2px 2px #000000;
            -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
            -ms-box-shadow: 0 2px 2px #000000;
            -ms-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 2px #000000;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        }

        label {
            font-weight: normal;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

            .form-signin .form-signin-heading, .form-signin .checkbox {
                margin-bottom: 10px;
            }

            .form-signin .checkbox {
                font-weight: normal;
            }

            .form-signin .form-control {
                position: relative;
                font-size: 16px;
                height: auto;
                padding: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

            .form-signin input[type="text"] {
                margin-bottom: -1px;
                -ms-border-bottom-left-radius: 0;
                border-bottom-left-radius: 0;
                -ms-border-bottom-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                -ms-border-top-left-radius: 0;
                border-top-left-radius: 0;
                -ms-border-top-right-radius: 0;
                border-top-right-radius: 0;
            }

        @@keyframes shake {
            0%, 100% {
                transform: translateX(0);
            }

            10%, 30%, 50%, 70%, 90% {
                transform: translateX(-10px);
            }

            20%, 40%, 60%, 80% {
                transform: translateX(10px);
            }
        }

        @@-webkit-keyframes shake {
            0%, 100% {
                transform: translateX(0);
            }

            10%, 30%, 50%, 70%, 90% {
                transform: translateX(-10px);
            }

            20%, 40%, 60%, 80% {
                transform: translateX(10px);
            }
        }

        .shake {
            -webkit-animation-name: shake;
            -moz-animation-name: shake;
            -ms-animation-name: shake;
            -o-animation-name: shake;
            animation-name: shake;
        }

        .animated {
            -webkit-animation-duration: 0.5s;
            -moz-animation-duration: 0.5s;
            -ms-animation-duration: 0.5s;
            -o-animation-duration: 0.5s;
            animation-duration: 0.5s;
            -webkit-animation-fill-mode: both;
            -moz-animation-fill-mode: both;
            -ms-animation-fill-mode: both;
            -o-animation-fill-mode: both;
            animation-fill-mode: both;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("ChangePassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "account-wall", role = "form" }))
    {
    
    <div class="form-signin"  style="margin-bottom: 20px; margin-top: -25px;">
        <p style="margin-bottom: 20px; margin-top: -5px; font-size: 22px;">Đổi mật khẩu</p>

        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control txtPass", @placeholder = "Mật khẩu hiện tại", @autofocus = "autofocus" })
        <p style="margin-bottom: 15px; margin-top: -5px;">
            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
        </p>
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control txtPass", placeholder = "Mật khẩu mới" })
        <p style="margin-bottom: 15px; margin-top: -5px;">
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
        </p>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control txtPass", placeholder = "Xác nhận Mật khẩu mới" })
        <p style="margin-bottom: 15px; margin-top: -5px;">
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </p>

            <div class="clearfix"></div>
            <input type="submit" value="Đổi mật khẩu" class="btn btn-lg btn-primary btn-block" />
    </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
